#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.AuthLayout {
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.CompanyLogo {
  margin-bottom: 80px;
}
