@import "./styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-family: "Basis Grotesque Pro", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1a1919;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
}

a {
  color: #316fea;
}
